<div class="jumbotron">
<h1>About</h1>
<p>My name is John, and this is my web application - Shmeebler. I created this application while 
   in the One Month Rails course Pinteresting. At the time of this writing I have no idea what   
   I want to do with it. I just want it to be useful to me to start off with and then have it grow from there. 
</p>
<p>   
   My user name on Github is J0hnnyC33
</p>
</div>
